/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/
@media (min-width: 1200px) {
    .container {
        max-width: 1440px;
    }
}
.add_top_50 {
    margin-top: 50px;
}

#logo_home h1 a {
  width: auto;
  background-image: url(../images/ritoz-logo-mx-negro.png);
  background-size: auto 40px;
}

.cd-nav-trigger::before {
    background-color: #c1272d; 
}

button.backward, button.forward, button.submit {
    background: #fa5e56;
    color: #333;
}
button.backward:hover, button.submit:hover, button.forward:hover {
    background: #890005;
    color: #fff;
}

.cd-nav-trigger::after {
    background-color: #fa5e56;
}

.cd-overlay-content span {
    background-color: #fa5e56;
}
header {
    border-top: 3px solid #890005;
}
.item label .item_price {
    color: #890005;
    font-size: 1rem;
}
.item label .item_thumb img {
    width: 220px;
    height: auto;
}
.btn-secondary {
    color: #212529;
    background-color: #fa5e56;
    border-color: #e14c51;
}