/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/
.no-touch .cd-primary-nav a:hover {
    color: #890005;
}

a.btn_1:hover,
.btn_1:hover {
    background: #890005;
    color: #fff;
}

.main_title h2 {
    color: #890005;
}
